<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="Owners">Owners list</title>
</head>
<body>
<!--/*@thymesVar id="owner" type="io.github.one2story.petclinic.model.Owner"*/-->
<h1 th:text="'Owners'">Owners List</h1>

<table>
    <thead>
    <tr>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="owner : ${owners}">
        <td th:text="${owner.id}">1</td>
        <td th:text="${owner.firstName}">Jhon</td>
        <td th:text="${owner.lastName}">Doe</td>
    </tr>
    </tbody>
</table>
</body>
</html>