<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title th:text="Owners">Owners list</title>
</head>
<body>
<!--/*@thymesVar id="owner" type="io.github.one2story.petclinic.model.Owner"*/-->
<h2 th:text="'Owners'">Owners List</h2>

<table class="table table-striped">
    <thead>
    <tr>
        <th width="150px">Id</th>
        <th width="200px">First Name</th>
        <th width="200px">Last Name</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="owner : ${owners}">
        <td th:text="${owner.id}">1</td>
        <td th:text="${owner.firstName}">Jhon</td>
        <td th:text="${owner.lastName}">Doe</td>
    </tr>
    </tbody>
</table>
</body>
</html>